S13 - WCF/SolucionMVC_Bancos2020/AppMVC_Bancos2020/Service References/WSBANCOS2020/ServicioBancos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10582/ServicioBancos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBDBancos2020" />
  <xs:element name="Grabar_Cuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBDBancos2020" minOccurs="0" name="obj" nillable="true" type="q1:Cuentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grabar_CuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Grabar_CuentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar_Cuentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar_CuentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBDBancos2020" minOccurs="0" name="Listar_CuentasResult" nillable="true" type="q2:ArrayOfCuentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>