S13 - WCF/SolucionMVC_Bancos2020/AppMVC_Bancos2020/Service References/WSBANCOS2020/ServicioBancos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioBancos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10582/ServicioBancos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10582/ServicioBancos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10582/ServicioBancos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBDBancos2020" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioBancos_Grabar_Cuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:Grabar_Cuenta" />
  </wsdl:message>
  <wsdl:message name="IServicioBancos_Grabar_Cuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:Grabar_CuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioBancos_Listar_Cuentas_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar_Cuentas" />
  </wsdl:message>
  <wsdl:message name="IServicioBancos_Listar_Cuentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listar_CuentasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioBancos">
    <wsdl:operation name="Grabar_Cuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioBancos/Grabar_Cuenta" message="tns:IServicioBancos_Grabar_Cuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioBancos/Grabar_CuentaResponse" message="tns:IServicioBancos_Grabar_Cuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar_Cuentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioBancos/Listar_Cuentas" message="tns:IServicioBancos_Listar_Cuentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioBancos/Listar_CuentasResponse" message="tns:IServicioBancos_Listar_Cuentas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioBancos" type="tns:IServicioBancos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Grabar_Cuenta">
      <soap:operation soapAction="http://tempuri.org/IServicioBancos/Grabar_Cuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_Cuentas">
      <soap:operation soapAction="http://tempuri.org/IServicioBancos/Listar_Cuentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioBancos">
    <wsdl:port name="BasicHttpBinding_IServicioBancos" binding="tns:BasicHttpBinding_IServicioBancos">
      <soap:address location="http://localhost:10582/ServicioBancos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>