S13 - WCF/WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReference1/ServicioBancos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBDBancos2020" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBDBancos2020" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cuentas">
    <xs:sequence>
      <xs:element minOccurs="0" name="cli_codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_cta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num_cta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saldo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuentas" nillable="true" type="tns:Cuentas" />
  <xs:complexType name="ArrayOfCuentas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuentas" nillable="true" type="tns:Cuentas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuentas" nillable="true" type="tns:ArrayOfCuentas" />
</xs:schema>